.admin-header {
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;

  .admin-header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
  }

  .admin-icon {
    font-size: 20px;
    cursor: pointer;
    color: #555;

    &:hover {
      color: #1677ff;
    }
  }

  .admin-avatar {
    cursor: pointer;
    border: 2px solid #eee;
  }
}
